{% extends 'app/base.html' %}
{% block content %}
<br><br><br>
<div class="container">
	<div class="row">
	{% for posts in post %}
		<div class="col-sm-6">
			<div class="card text-dark bg-light mb-3" >
				<img class="card-img-top" src="{{posts.pic.url}}" alt="Card image cap" height="270">
				<div class="card-body">
					<h5 class="card-title">{{posts.title}}</h5>
					<p class="card-text">{{posts.summary}}</p>
					<h6 class="card-subtitle mb-2 text-muted">By : {{posts.author}}</h6>
					<p class="card-text text-muted">{{posts.date_posted|date:"F d, Y"}}</p>
					<a href="{% url 'viewpost' posts.id %}" class="btn btn-dark">View Full Article</a>
				</div>
			</div>
			<br><br>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}